<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.AdminMapper">
    <sql id="moneyColumns">
        a.id,
        a.course AS "course.id",
        a.teacher AS "teacher.id",
        a.price,
        c.name AS "course.name",
        c.time AS "course.time",
        c.address AS "course.address",
        t.username AS "teacher.username",
        t.name AS "teacher.name"
    </sql>

    <sql id="moneyJoins">
        LEFT JOIN course c ON c.id = a.course
        LEFT JOIN teacher t ON t.id = a.teacher
    </sql>

    <select id="findMoney" parameterType="model.Money" resultType="model.Money">
        select
        <include refid="moneyColumns"/>
        from money a
        <include refid="moneyJoins"/>
        WHERE 1=1
        <if test="course != null and course.id != null">and a.course=#{course.id}</if>
    </select>
    <update id="updateMoney" parameterType="model.Money">
        UPDATE money set price=#{price}
        WHERE id=#{id}
    </update>
</mapper>