<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CourseMapper">

    <sql id="scoreColumns">
        a.id,
        a.course AS "course.id",
        a.employee AS "employee.id",
        a.score,
        c.name AS "course.name",
        c.address AS "course.address",
        e.username AS "employee.username",
        e.name AS "employee.name"
    </sql>

    <sql id="scoreJoins">
        LEFT JOIN course c ON c.id = a.course
        LEFT JOIN employee e ON e.id = a.employee
    </sql>

    <delete id="delete" parameterType="int">
        <!-- 方法的形参是id -->
        delete from course where id=#{id}
    </delete>

    <insert id="save" parameterType="model.Course">
        INSERT into course(name,time,address,describle) VALUES (#{name},#{time},#{address},#{describle})
    </insert>

    <update id="update" parameterType="model.Course">
        UPDATE course set name=#{name},time=#{time},describle=#{describle},address=#{address}
        WHERE id=#{id}
    </update>

    <select id="findByConditions" parameterType="model.Course" resultType="model.Course">
        select * from course WHERE 1=1
        <if test="name != null and name != ''">and name like CONCAT('%', #{name}, '%')</if>
        <if test="id != null">and id=#{id}</if>
    </select>

    <select id="findScoreByConditions" parameterType="model.Course" resultType="model.Score">
        select
        <include refid="scoreColumns"/>
        from score a
        <include refid="scoreJoins"/>
        WHERE 1=1
        <if test="name != null and name != ''">and a.name like CONCAT('%', #{name}, '%')</if>
        <if test="id != null">and a.id=#{id}</if>
    </select>

    <select id="findAll"  resultMap="CourseResult">
        SELECT * FROM course
    </select>
    <resultMap type="model.Course" id="CourseResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="time" column="time"/>
        <result property="address" column="address"/>
        <result property="describle" column="describle"/>
        <association property="teacher" column="teacher" select="getTeacher"/>
    </resultMap>
    <select id="getTeacher" parameterType="int" resultType="model.User">
        SELECT * FROM teacher WHERE id=#{id}
    </select>
</mapper>